#submit-codeBar-container {
  background-color: #f7f9fb;
  padding: 2% 3% 2% 3%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  height: 8%;
  /* border-color: #d3d3d3; */
  /* border-style: solid;
  border-width: 2px; */
}

#submit-codeBar-compile-options-container {
  width: 80%;
}

#submit-code-bar-button-container {
  padding: 2% 2% 2% 2%;
}
#submit-code-bar-reset-btn-container {
  margin-left: auto;
}

#submit-code-bar-run-btn-container {
  margin-left: 2%;
}

.run-button {
  flex: display;
  padding: 2px 5px 2px 5px;
  justify-content: center;
  align-items: center;
}
