/* Navbar styles */
.navBar {
  background-color: var(--second-navbar-bg-color); /* Dynamic background color */
  color: var(--text-color); /* Dynamic text color */
  padding: 10px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navItem {
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: #e1e1e1;
}

.active {
  background-color: #007bff;
  color: white;
}
