.myLineDecoration {
  background-color: rgba(255, 255, 0, 0.5); /* Yellow background */
}

#codeEditor-fontSize-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: var(--font-size-container-bg-color); /* Dynamic background color */
  color: var(--font-size-container-text-color); /* Dynamic text color */
  transition: background-color 0.4s, color 0.4s; /* Smooth transition */
}