#graph-page-code-container {
  border-right: 2px solid #d3d3d3;
}

#graph-page-container{
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.left {
  order: 1;
}

.right {
  order: 2;
}

#graph-page-output-container {
  border-right: 2px solid #d3d3d3;
  transition: order 0.3s ease, border 0.2s ease;
}

#graph-page-code-container.drag-over,
#graph-page-output-container.drag-over {
  border: 2px dashed #007bff;
}