.codegptContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  /* padding: 20px; */
  box-sizing: border-box;
}

.stickyHeader {
  position: sticky;
  top: 0;
  background-color: var(--font-size-container-bg-color);
  z-index: 1;
}

.stickyContainer {
  position: sticky;
  bottom: 0;
  background-color: var(--submit-codebar-bg-color);
  z-index: 1;
  padding: 20px;
}

.suggestionCategory {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  margin: 10px;
}

.suggestionButton {
  padding: 5px 10px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.suggestionButton:hover {
  background-color: #c1c1c1;
}

.suggestionCategoryButton {
  background-color: transparent; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px; /* Add space between category buttons */
  color: var(--text-color);
}

.suggestionCategoryButton.active {
  font-weight: bold; /* Highlight the active category */
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.codegptResponse {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: var(--font-size-container-bg-color);
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.assistant {
  text-align: left;
  background-color: #f1f1f1;
}

.userMessage {
  padding: 15px 15px;
  text-align: left;
  background-color: #b5d1df;
  max-width: 80%;
  margin-left: 12em; /* Add margin to keep it closer to the left */
  white-space: pre-wrap; /* Preserve formatting */
}

.assistantMessage {
  text-align: left;
  background-color: #f1f1f1;
  margin-left: 10px; /* Add margin to keep it closer to the left */
}

.assistantLabel {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  margin-left: 10px;
}

.codegptInputContainer {
  display: flex;
  align-items: center;
}

.codegptTextarea {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
  max-height: 200px; /* Cap the height */
  overflow: auto; /* Add scroll if content exceeds max-height */
}

.codegptButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.codegptButton:hover {
  background-color: #0056b3;
}

.resetButton {
  /* padding: 5px 5px; */
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  /* margin-bottom: 10px; */
}

.resetButton:hover {
  background-color: #fd1b1b;
}

.syntaxHighlighter {
  background-color: rgb(222, 234, 241) !important; /* Dark grey background */
  color: #f8f8f2; /* Light grey text */
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}
